{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<p>Welcome to this valorant esports wiki<br /> Made by Caleb Henry<br /> This website currently has five working features: </p>
<ul>
    <li>Players List</li>
    <li>Upcoming Events</li>
    <li>Upcoming Matches</li>
    <li>Completed Matches</li>
    <li>Player Stats</li>
</ul>
<p>Four of these features are avaliable as links in the navbar, and player stats are avaliable by clicking on one of the player names on the <b>players search</b> page or by specifying a specific player name in the url, for example:<br /><br /> 127.0.0.1:5000/players/-player-name-</player-name></p>
{% endblock %}